.gradle
bin
local.properties
jrebel.properties
tests/bin
tests/local.properties
out
output
build
src/ru/yandex/taxi/R.java
submodules/
gen
tests/gen
*.iws
*.iml
*.ipr
*.classpath
*.project
*.DS_Store
.idea
captures
ajcore.*.txt
.attach_pid*
.settings